
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo
* @ramosmvixtor-dot

# Specific ownership by file type
*.java @ramosmvixtor-dot
*.yml @ramosmvixtor-dot
*.yaml @ramosmvixtor-dot
*.xml @ramosmvixtor-dot

# Infrastructure and deployment files
/k8s/* @ramosmvixtor-dot
/azure/* @ramosmvixtor-dot
/.github/workflows/* @ramosmvixtor-dot
/Dockerfile @ramosmvixtor-dot
